

main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    max-width: 60ch;
    padding: 0 3ch;
    margin: auto;
}

main > * {
    grid-column: 1/3;
}

#output {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; <-- I'd use this, but there's a bug. See below comment. */
    overflow: scroll;
}

/* this is to fix an (apparent?) bug with justify-content: flex-end with scrollbars. */
#output::before{
    content: '';
    display: block;
    margin-top: auto;
}

#output p {
    white-space: pre-wrap;
}

p, textarea {
    word-break: break-all;
}

#input {
    display: grid;
    grid-template-columns: 2ch 1fr;
    grid-template-rows: auto auto;
    min-height: 4.5em; /* just enough for two liens of text. Not super clean but should be robust enough with different font sizes? */
}
#input p {
    grid-column: 1/3;
    grid-row: 2;
}
#input:before {
    content: ">";
}
#input #text {
    display: grid;
    grid-column: 2;
    grid-row: 1;
}
#input #text textarea {
    line-height: inherit;
    font-family: inherit;
    outline: none;
    overflow: hidden;
    resize: none;
}
#input #text:after {
    content: attr(data-replicated-value) " ";
    visibility: hidden;
    word-break: break-all;
}
#input #text textarea,
#input #text:after {
    grid-area: 1 / 1 / 2 / 2;
    white-space: pre-wrap;
}

#separator {
    height: 3px;
    width: 100%;
    background: hsl(30, 25%, 70%);
    border-radius: 5px;
    margin-bottom: 1ch;
}

.error-hint {
    color: hsl(0, 75%, 40%);
}

#header {
    position: absolute;
    top: 0;
    right: 0;
}